<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>100</string>
		<key>time</key>
		<string>2016-10-2</string>
		<key>guide</key>
		<string>大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读</string>
		<key>desc</key>
		<string>一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽，一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>100</string>
		<key>time</key>
		<string>2016-10-2</string>
		<key>guide</key>
		<string>昨天我们家的盼盼尿床了</string>
		<key>desc</key>
		<string>床前明月光，疑似地上霜，举头望明月，低头思故乡</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>200</string>
		<key>time</key>
		<string>2016-10-3</string>
		<key>guide</key>
		<string>大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读</string>
		<key>desc</key>
		<string>一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽，一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>99</string>
		<key>time</key>
		<string>2016-6-2</string>
		<key>guide</key>
		<string>力拔山兮气盖世，时不利兮骓不逝。骓不逝兮可奈何，虞兮虞兮奈若何！</string>
		<key>desc</key>
		<string>起句“力拔山兮气盖世”，有气壮山河，势吞万里之气象。作为反秦义军的领袖，项羽可谓卓绝超群，气盖一世。《史记·项羽本纪》载，项羽“力能扛鼎，才气过人”。在他的履历中，不乏所向披靡、勇冠三军的神奇故事。此刻，面对四面楚歌的惨败结局，面对爱妃虞姬，项羽感慨万千。“力拔山兮气盖世”，既有对自己辉煌岁月的回首，也有对兴亡盛衰的无尽感慨，对“时不再来”的无限懊悔。
“时不利兮骓不逝”。似乎一切尽是天意：时机于我不利，战事于我不顺，千里马也跑不起来了。至此，一种英雄末路的感慨油然而生，让人倍感苍凉。 另解：天时不利我，但乌骓却不愿离我而去。（后面虞姬也是，讲述了“从一而终”这个做人的道理。</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>22</string>
		<key>time</key>
		<string>2016-10-7</string>
		<key>guide</key>
		<string>滕王高阁临江渚，佩玉鸣鸾罢歌舞。画栋朝飞南浦云，珠帘暮卷西山雨。闲云潭影日悠悠，物换星移几度秋。阁中帝子今何在？槛外长江空自流。</string>
		<key>desc</key>
		<string>本句首先是色彩美。夕阳之下，晚霞绚烂耀眼，而鹜的羽毛是深色的，加上是逆光，所以孤鹜近乎一个暗影，而晚霞不可能遮布西边半个天空，尚在碧空显露，碧空相对于落霞光度稍逊，但相对于孤鹜来说却较亮，它们——孤鹜、落霞、碧空——就成了明暗的对比——孤鹜的影子更加深暗，晚霞和碧空则更加灿烂。孤鹜的颜色以绿、褐、紫等为主，属于冷色，而且它们之间是补色关系。晚霞的背景是晴空，它是蓝宝石色的，和晚霞的颜色也是互补色的。我们知道，当互为补色的两种颜色相邻时，能构成最强的对比，在效果上，能使双方达到最大的鲜明度。王勃巧妙地运用了这一对比，使整个图案显得格外地鲜明而美丽。 其次是动态美。孤鹜是在“飞”的，云霞是在“落”的，只有天空是凝然不动的。秋水虽然平静，但并不是冬天的止水，水面上不会死气沉沉。微风过处，秋水上会不断地泛起涟漪，涟漪过处，水面上倒映着的景物被荡开后，透出水下的景物：水草、乃至鱼虾等等。这分明是一幅流动着的美丽图画其三是虚实美。碧空高深无比，红霞稍低些，而孤鹜又更低，这就有了三个层次，而它们下边又有秋水。秋天的水是宁静的，当“秋水共长天一色”之时，天上的画卷自然地映在水中，所谓“天光云影共徘徊”，水中又有了三个层次。而且，在天上越高的景物，在水中的倒影就越深。这就构成了实景与虚景的对比。况且微风过处，秋水泛起涟漪，平滑如镜的水面上倒映着的景物会被荡开，依稀透出水下的景物。这和水面上的映像同样构成了一种虚实之美。</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>100</string>
		<key>time</key>
		<string>2016-10-22</string>
		<key>guide</key>
		<string>水陆草木之花，可1爱者甚蕃2。晋陶渊明独爱菊3；自李唐来，世人盛爱牡
《爱莲说》书法作品
予独爱莲之出淤泥而不染，濯清涟而不妖，中通外直，不蔓不枝，香远益清，亭亭净植， 可远观而不可亵玩焉</string>
		<key>desc</key>
		<string>作者起笔说：“水陆草木之花，可爱者甚蕃。”选用“可爱”二字，包罗群芳，表明托物寄兴，并不刻意求工，极见其立言斟酌之妙。接着叙说“晋陶渊明独爱菊”。陶渊明不肯为五斗米折腰，解绶归隐后，饮酒赋诗，安享“采菊东篱下，悠然见南山”的田园逸趣。“独爱菊”，显示渊明雅致芬芳，傲然物外的性格，而且更加明确了题意：陶渊明可以爱菊抒怀，我怎不可独爱莲呢？继写“自李唐来，世人甚爱牡丹”，写了唐人，特别是统治阶层“甚爱牡丹”的好尚，这几句像是重复，但实为加深语意也，而且此句入文，让对比感更为强烈，为其求莲之高洁铺下了引子。大意是周敦颐本人独爱莲与晋陶渊明的爱菊避世不同，为保持一份高洁，宁愿终老南山。他要在尘世中当个出淤泥而不染的君子。这种在污世保持清白与独自避世求真的心态，与众人皆羡富贵（牡丹）的从众心态是有着思想境界上本质的区别的。这为爱莲说所要表达的“出淤泥而不染”作了最好的铺垫。然后作者撇开一笔说，让那班人爱其所爱吧，“予独爱莲之出淤泥而不染，濯清涟而不妖，中通外直，不蔓不枝，香远益清，亭亭净植，可远观而不可亵玩焉”。这一连串铺叙，对莲花挺拔秀丽的芳姿，清逸超群的令德，特别是可敬而不可侮慢的嵚崎磊落的风范，作了有力的渲染。这几句隐喻作者本身具有“出淤泥而不染，濯清莲而不妖”的高尚品格。实际上，他说的意思就是：官场黑暗，要在官场上保持自己高洁的品格，就如同莲花出淤泥而不染那么难。这也是他为官的经验总结，因为他不想同流合污。而“濯清莲而不妖”，不过是作者的一种良好愿望罢了。他为官正直，数洗冤狱，为民作主；晚年定居庐山，著书明道，洁身自爱，颐养天年，便是身体力行，澹泊明志的体现。这正是这篇小品能给人思想情趣以深切感染的着力之处。</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>100</string>
		<key>time</key>
		<string>2016-10-2</string>
		<key>guide</key>
		<string>大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读</string>
		<key>desc</key>
		<string>一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽，一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>100</string>
		<key>time</key>
		<string>2016-10-2</string>
		<key>guide</key>
		<string>大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读</string>
		<key>desc</key>
		<string>一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽，一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>100</string>
		<key>time</key>
		<string>2016-10-2</string>
		<key>guide</key>
		<string>大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读</string>
		<key>desc</key>
		<string>一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽，一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>100</string>
		<key>time</key>
		<string>2016-10-2</string>
		<key>guide</key>
		<string>大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读</string>
		<key>desc</key>
		<string>一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽，一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>100</string>
		<key>time</key>
		<string>2016-10-2</string>
		<key>guide</key>
		<string>大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读</string>
		<key>desc</key>
		<string>一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽，一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>100</string>
		<key>time</key>
		<string>2016-10-2</string>
		<key>guide</key>
		<string>大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读</string>
		<key>desc</key>
		<string>一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽，一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
	<dict>
		<key>price</key>
		<string>100</string>
		<key>time</key>
		<string>2016-10-2</string>
		<key>guide</key>
		<string>大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读大黄蜂的导读</string>
		<key>desc</key>
		<string>一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽，一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽一个和尚挑水喝，两个和尚担水喝，三个和尚没水喝，四个和尚挖井喽</string>
		<key>title</key>
		<string>一个人努力的奋斗，奋斗，奋斗</string>
	</dict>
</array>
</plist>
